.wrapper {
    flex-direction: column;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 17.3125rem;
    border: 1px solid #CACACA;
    border-radius: 7px;
    padding: 14px 14px 12px;
}

.columnWrapper:first-child {
    display: none;
}

