.tagsListWrapper {
    position: absolute;
    width: 10.5rem;
    height: 9.125rem;
    padding: 10px;
    box-sizing: border-box;
    background: #D8D7D7;
    border-radius: 3px;
    z-index: 2;
}

.wrap {
    display: flex;
}

.currentTagsWrapper {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    height: 20px;
    border-radius: 2px;
    width: 40px;
    cursor: pointer;
    background-color: #FFE445;
}

.tagsList{
    //height: 4.5625rem;
    height: 7.875rem;
    overflow-y: scroll;
}

.tagsList::-webkit-scrollbar{
    width: 6px;
    border-radius: 3px;
    background: #EAEAEA;
}

.tagsList::-webkit-scrollbar-thumb {
    height: 4.5625rem;
    border-radius: 3px;
    background: rgba(182, 182, 182, 0.99);
}

.textSelect {
    font-family: 'YS Text', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}

.wrapper {
    border-radius: 3px;
    z-index: 1;
    width: 10.5rem;
    margin-bottom: 0.875rem;
    background: #E3E3E3;
    border: none;

}



.buttonSelect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    width: 10.5rem;
    height: 2.25rem;
    background: #E3E3E3;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: 0.2s linear;
}

.buttonSelect:hover {
    opacity: 0.8;
}


details[open] summary {
    border-bottom: none;
    border-radius: 3px 3px 0px 0px;
}



